In [253]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [357]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from autocorrect import spell

<font style = 'font-family:Aparajita'><font size = 6><b>Challenge: Data Cleaning & Validation </b></font>
<p><font style = 'font-family:Aparajita'><font size = 5><i>Unit 1.3 Project 6</i>

### Importing and Analyzing Data

In [255]:
# Importing sample data set WELLCOME Trust between 2012 and 2013. 
raw_prices = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv', 
                     encoding = 'latin1')
prices.head(5)

,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [358]:
#raw_prices.describe()

In [257]:
print('\033[0;31;49m Dropping column PMID/PMCID as we will be using the Journal title as an ID.\n')

# Creating new data frame without column PMID/PMCID called 'prices'
prices = raw_prices.drop(columns = ['PMID/PMCID'])
prices.head(5)

 Dropping column PMID/PMCID as we will be using the Journal title as an ID.

,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [332]:
print('\033[0;31;49m Changing column names for easier analysis.\n')

# Renamming columns for easier analysis.
prices_updated = prices.rename(columns = {'COST (£) charged to Wellcome (inc VAT when charged)': 'Cost',
                                          'Journal title': 'Journal',
                                          'Article title' : 'Article'})
prices_updated.head(5)

 Changing column names for easier analysis.

,Publisher,Journal,Article,Cost
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [333]:
print('\033[0;31;49m Cleaning "Cost" column.\n')

# Cleaning "Cost" column.

# Removing "£" from Cost column.
prices_updated.loc[:,'Cost'] = prices_updated.loc[:,'Cost'].str.replace('£','')

# Removing "$" from Cost column.
prices_updated.loc[:,'Cost'] = prices_updated.loc[:,'Cost'].str.replace('$','')

# Removing 999999.00 value and replacing with NaN.
prices_updated.loc[:,'Cost'] = prices_updated.loc[:,'Cost'].replace('999999.00', np.nan)

# Removing the values in column "Cost" that have nan values.
prices_updated = prices_updated.drop(prices_updated[prices_updated['Cost']== 'nan'].index)

prices_updated.head(5)

 Cleaning "Cost" column.

,Publisher,Journal,Article,Cost
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [352]:
prices_updated['Cost'] = prices_updated['Cost'].apply(float)
#prices_updated['Journal'] = prices_updated['Journal'].apply(float)
#prices_updated['Article'] = prices_updated['Article'].apply(str)
#prices_updated['Publisher'] = prices_updated['Publisher'].apply(str)

In [347]:
#print(prices_updated.describe())
prices_updated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2127 entries, 0 to 2126
Data columns (total 4 columns):
Publisher    2127 non-null object
Journal      2127 non-null object
Article      2127 non-null object
Cost         2080 non-null float64
dtypes: float64(1), object(3)
memory usage: 83.1+ KB

NameError: ("name 'textblob' is not defined", 'occurred at index Publisher')

In [353]:
#df_count = prices_updated.groupby('Journal').count()
#df_count = prices_updated.sort_values('Article', ascending = False)
#df_count['Article'].nlargest(5)

In [ ]:
#print('Filtering the whole series:')
#print(list(filter(lambda x: str(x).isdigit(), value_type)))

#print('\nApplying filter() to each value in the series:')
#print(value_type.apply(lambda x: ''.join(list(filter(str.isdigit, str(x))))))

In [ ]:
filtered_prices.to_csv(r'C:\Users\nieto\OneDrive\Desktop\Thinkful\Boot Camp\Unit 1\Section 3\test4.csv')

### Challenge

<font style = 'font-family:Aparajita'><font size = 4> 1. Determine the five most common journals and the total articles for each.

<font style = 'font-family:Aparajita'><font size = 4> 2. Calculate the mean, median, and standard deviation of the open-access cost per article for each journal.

### Bonus
<font style = 'font-family:Aparajita'><font size = 4> For a real bonus round, identify the open access prices paid by subject area.